version: '3.8'

services:
  backend:
    image: ghcr.io/ha2yo/storerader-backend:latest
    container_name: con-storerader-back
    restart: always
    ports:
      - 8080:8080
    networks:
      - network

  frontend:
    image: ghcr.io/ha2yo/storerader-frontend:latest
    container_name: con-storerader-front
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - network

networks:
  network: